<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "exam/navbar.html" %}
 


<br><br><br>
<div class="container">
  <h3 style="text-align: center;">Student Signup Form</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">First Name</label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="First Name" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">Last Name</label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mobile">Contact</label>
          {% render_field studentForm.mobile|attr:'required:true'  class="form-control" placeholder="Contact Number" %}
        </div>
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          {% render_field studentForm.address|attr:'required:true'  class="form-control" placeholder="Address" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">Username</label>
          {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="username" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="password" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">Profile Picture</label>
          {% render_field studentForm.profile_pic|attr:'required:true' class="form-control" placeholder="" %}
        </div>
        
      </div>


    <button type="submit" class="btn btn-success" style="border-radius: 0%;">Sign Up</button>
  </form>
</div>


<br><br>
{% include "exam/footer.html" %}
  </body>
</html>
