{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-default">

                    <h4 class="card-title">Exam Details :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Course : {{course.course_name}}</li>
                            <li>Total Question : {{total_questions}}</li>
                            <li>Total Marks : {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">Rules :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>All questions are MCQ (multiple choice question)</li>
                            <li><span class="text-danger">Only one choice is correct among the given.</span></li>
                            <li>Every question carry different marks.</li>
                            <li>Try to answer ASAP.</li>
                            <li>If you PRESS refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as number of attempts.</li>
                            <li>Questions are presented randomly.</li>
                            <li>You will be able to view marks immediately once after you submit the answer.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}" class="btn btn-success" style="border-radius:0px;">Enter Examination</a>
                </div>  
                <div class="card-footer">Best Of Luck, Students!</div>  
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}